1. Program to create a list and perform various operations on it.
Name : Akash Kumar Singh
Registraion No: 219310279
Batch 1

In [4]:
lt = list(eval(input("Enter a list: ")))

Enter a list: 1,2,3

In [6]:
val = eval(input("Enter element to be appended to the list: "))
lt.append(val)
print("New List: {}".format(lt))

Enter element to be appended to the list: 2
New List: [1, 2, 3, 2]

In [7]:
val = list(eval(input("Enter elements to be added to the list: ")))
lt.extend(val)
print("New List: {}".format(lt))

Enter elements to be added to the list: 4,5,6
New List: [1, 2, 3, 2, 4, 5, 6]

In [9]:
val = eval(input("Enter element to be inserted and the position where to insert:"))
lt.insert(val[0],val[1])
print("New List: {}".format(lt))

Enter element to be inserted and the position where to insert: 0,'Numbers'
New List: ['Numbers', 1, 2, 3, 2, 4, 5, 6]

In [10]:
val = eval(input("Enter element to be removed from the list: "))
lt.remove(val)
print("New List: {}".format(lt))

Enter element to be removed from the list: 2
New List: ['Numbers', 1, 3, 2, 4, 5, 6]

In [12]:
val = eval(input("Enter element to be removed from the list: "))
print(lt.pop(val))
print("New List: {}".format(lt))

Enter element to be removed from the list: 0
Numbers
New List: [1, 3, 2, 4, 5, 6]

In [13]:
val = eval(input("Enter range of elements to print: "))
print("New List: {}".format(lt[val[0]:val[1]]))

Enter range of elements to print: 2,5
New List: [2, 4, 5]

In [14]:
lt.reverse()
print("Reversed List: {}".format(lt))

Reversed List: [6, 5, 4, 2, 3, 1]

In [15]:
print("Length of List: {}".format(len(lt)))

Length of List: 6

In [16]:
print("Minimum value of List: {}".format(min(lt)))
print("Maximum value of List: {}".format(max(lt)))

Minimum value of List: 1
Maximum value of List: 6

In [17]:
val = eval(input("Enter element to be searched in the list: "))
print("Occurence of {} : {}".format(val,lt.count(val)))

Enter element to be searched in the list: 6
Occurence of 6 : 1

In [18]:
val = list(eval(input("Enter List to be concatenated to the list: ")))
print("New List: {}".format(lt+val))

Enter List to be concatenated to the list: 7,8
New List: [6, 5, 4, 2, 3, 1, 7, 8]

In [19]:
val = eval(input("Enter number of times to multiply the list: "))
print("New List: {}".format(lt*val))

Enter number of times to multiply the list: 2
New List: [6, 5, 4, 2, 3, 1, 6, 5, 4, 2, 3, 1]

In [20]:
val = eval(input("Enter element to be searched in the list: "))
print("{} occurs in the list at {} position".format(val,lt.index(val)))

Enter element to be searched in the list: 5
5 occurs in the list at 1 position

In [21]:
lt.sort()
print("Sorted List: {}".format(lt))

Sorted List: [1, 2, 3, 4, 5, 6]

In [22]:
print("Sorted List: {}".format(sorted(lt,reverse = True)))

Sorted List: [6, 5, 4, 3, 2, 1]

In [23]:
lt.clear()
print("Cleared List: {}".format(lt))

Cleared List: []

In [30]:
# List Comprehension for Even Nos
list = [i for i in range(11) if i % 2 == 0]
print(list)

[0, 2, 4, 6, 8, 10]

2. Program to Create Set and Perform Various Operations on the Set
Name : Akash Kumar Singh
Registraion No: 219310279

In [24]:
st = set(eval(input("Enter a set: ")))
st1 = set(eval(input("Enter another set: ")))

Enter a set: 1,2,3,4
Enter another set: 4,5,6

In [25]:
val = eval(input("Enter element to be appended to the set: "))
st.add(val)
print("New Set: {}".format(st))

Enter element to be appended to the set: 7
New Set: {1, 2, 3, 4, 7}

In [26]:
print("Inersection of Two Sets: {}".format(st.intersection(st1)))

Inersection of Two Sets: {4}

In [27]:
print("Union of Two Sets: {}".format(st.union(st1)))

Union of Two Sets: {1, 2, 3, 4, 5, 6, 7}

In [28]:
print("Difference of Two Sets: {}".format(st.difference(st1)))

Difference of Two Sets: {1, 2, 3, 7}

In [29]:
print("Symmetric Difference of Two Sets: {}".format(st.symmetric_difference(st1)))
#  or use ^ operator

Symmetric Difference of Two Sets: {1, 2, 3, 5, 6, 7}