Name : Akash Kumar Singh
Registraion No: 219310279
Batch 1
Program 1:
            *
           ***
          *****
         *******
        *********

In [39]:
n = int(input("Enter number of rows:"))
for i in range(0,n+1):
    print("\t\t\t",end='')
    for j in range(n,i,-1):
        print(" ",end='')
    for j in range(i):
        print("*",end='')
    for j in range(i-1):
        print("*",end='')
    print()

Enter number of rows:5

			    *
			   ***
			  *****
			 *******
			*********

Name : Akash Kumar Singh
Registraion No: 219310279
Batch 1
Program 2:
            1
            2 3
            4 5 6 
            7 8 9 10

In [40]:
n = int(input("Enter number of rows:"))
temp = 1
for i in range(n):
    print("\t\t\t",end='')
    for j in range(i+1):
        print("%d\t"%temp,end='')
        temp+=1
    print()

Enter number of rows:5
			1
			2	3
			4	5	6
			7	8	9	10
			11	12	13	14	15

Name : Akash Kumar Singh
Registraion No: 219310279
Batch 1
Program 3:
            * * * * *
            *       *
            * * * * *

In [44]:
n = int(input("Enter number of rows:"))
for i in range(n):
    print("\t\t\t",end='')
    for j in range(n):
        if (i==0 or j==0 or j==n-1 or i==n-1):
            print("*",end=' ')
        elif i!=0 and i!=n-1:
            print("  ",end='')
    print()

Enter number of rows:8
			* * * * * * * *
			*             *
			*             *
			*             *
			*             *
			*             *
			*             *
			* * * * * * * *

Name : Akash Kumar Singh
Registraion No: 219310279
Batch 1
Program 4:
            1
            1 1
            1 2 1
            1 3 3 1
            1 4 6 4 1

In [43]:
n = int(input("Enter number of rows:"))
arr=[]
for i in range(1,n+1):
    narr=arr
    arr=[]
    print("\t\t\t",end='')
    for j in range(0, i):
        if(j==0 or j==i-1):
            print(1,end='\t')
            arr.append(1);
        else:
            arr.append(narr[j]+narr[j-1])
            print(arr[j],end='\t')
    print()

Enter number of rows:5
			1
			1	1
			1	2	1
			1	3	3	1
			1	4	6	4	1

Name : Akash Kumar Singh
Registraion No: 219310279
Batch 1
Program 5:
            *
           **
          ***
         ****
        *****
         ****
          ***
           **
            *

In [37]:
n = int(input("Enter number of rows:"))
for i in range(n):
    print("\t\t\t",end='')
    for j in range(n,i,-1):
        print(" ",end='')
    for j in range(i):
        print("*",end='')
    print()
for i in range(n,0,-1):
    print("\t\t\t",end='')
    for j in range(i,n):
        print(" ",end='')
    for j in range(i):
        print("*",end='')
    print()

Enter number of rows:5

			    *
			   **
			  ***
			 ****
			*****
			 ****
			  ***
			   **
			    *

Name : Akash Kumar Singh
Registraion No: 219310279
Batch 1
Program 6:
            *
           --
          ***
         ----
        *****
         ----
          ***
           --
            *

In [33]:
n = int(input("Enter number of rows:"))
for i in range(n):
    print("\t\t\t",end='')
    str = '*' if i%2==1 else '-'
    for j in range(n,i,-1):
        print(" ",end='')
    for j in range(i):
        print(str,end='')
    print()
for i in range(n,0,-1):
    print("\t\t\t",end='')
    str = '*' if i%2==1 else '-'
    for j in range(i,n):
        print(" ",end='')
    for j in range(i):
        print(str,end='')
    print()

Enter number of rows:5

			    *
			   --
			  ***
			 ----
			*****
			 ----
			  ***
			   --
			    *